html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    width: 1200px;
    padding-right: 40px;
    padding-left: 40px;
}

body {
    position: relative;
    font-family: 'Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* background: #eee; */
    transition: all .3s;
}

p {
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {}

input,
textarea {
    font-family: inherit;
}

.header {
    padding: 10px 0 0 0;
}

.nav {}

.nav li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    font-weight: 600;
    color: #fff;
    display: block;
    padding: 12px 16px;
}

.burger {
    padding: 12px 0 13px;
}

.burger {
    width: 33px;
    height: 30px;
    padding: 0;
    border: 0;
    background: rgba(0,0,0,0);
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.burger span {
    width: 100%;
    height: 7px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, .07);
}

.logo-link {
    display: inline-block;
    max-width: 230px;
    padding: 14px 0 15px;
}

.header-banner {
    max-width: 728px;
    margin: 1.5em 0 1.5em 0;
}

img {
    width: 100%;
    object-fit: contain;
}

/* ========== mobile-menu============== */

.menu-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    left: -100%;
    background-color: rgba(0,0,0,.68);
    transition: all .5s;
}

.menu-overlay.active {
    left: 0; 
}

.mobile-menu-wrapper {
        /* overflow-y: auto; */
        position: fixed;
        height: 100%;
        width: 250px;
        left: -250px;
        top: 0;
        background: #1b1b1b;
        z-index: 6;
        overflow-y: visible;
        transition: all .5s;
}

.mobile-menu-wrapper.active {
    left: 0;
}

.mobile-menu li a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    line-height: 140%;
    border-bottom: 1px solid rgba(0,0,0,.04);
}

/* ========== STOP mobile-menu============== */

/* offer block ================================ */

.offer {
    padding: 30px 0;
}

.offer-box__meta {
    background-color: rgba(0,0,0,.7);
    padding: 3px 10px;
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

.offer-box__title {
    color: #fff;
    margin: 0;
    font-size: 30px;
}

.offer-box.left-block {
    height: 470px;
    /* height: 100%; */
    /* margin-right: 4%; */
}

.offer-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2%;
}

.offer-right .offer-box:first-child {
    grid-column: span 2;
}

.offer-right .offer-box:nth-child(2) .offer-box__title,
.offer-right .offer-box:nth-child(3) .offer-box__title {
    font-size: 16px;
}

.offer-right .offer-box {
    height: 250px;
}

/* .offer-right__bottom {
    margin-top: 2%;
} */

.offer-right .offer-box.offer_small-box {
    height: 210px;
}

.offer-right .offer-right__bottom  .offer-box:nth-child(1) {
    margin-right: 2%;
}

.offer-box {
    position: relative;
    align-items: flex-end;
    display: flex;

}

.offer-box::before  {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 70%;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
}

.offer-block__info {
    position: relative;
    z-index: 2;
}

/* .offer-right__bottom .offer-box__title {
    font-size: 16px;
} */

/* end offer block ================================ */


/* content =========================================== */

.content {
    padding: 0 0 40px 0;
}

.content-right {
    padding-left: 20px;
}

.page-title  {
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    font-style: normal;
    line-height: 140%;
    font-weight: 700;
    font-family: 'Open Sans','Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    margin-bottom: 20px;
}

.content-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-box {
    flex: 0 0 48%;
    max-width: 48%;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 0 1.5em;
}

.content-box__info {
    padding: 20px 25px 25px 25px;
    position: relative;
}

.content-box__meta {
    color: #fab526;
    font-size: 14px;
    font-family: 'Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

.content-box__title {
    font-size: 19px;
    line-height: 150%;
    color: #000;
    font-weight: 900;
}

.sign {
    margin-bottom: 50px;
}
.sidebar-title {
    font-weight: 900;
    font-size: 17px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
    color: #404040;
}

.newsletter-example {
    display: flex;
    width: 100%;
}

.newsletter-adv {
    max-width: 300px;
    width: 100%;
    height: 300px;
}

.newsletter-example input[type="email"] {
    background: #fff;
    border: 1px solid #ddd;
    margin: 0px;
    padding: 12px 14px 12px 14px;
    width: calc(100% - 115px);
}

.newsletter-example button {
    border-radius: 0px;
    background: #000;
    text-align: center !important;
    display: inline-block;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    padding: 13px 10px;
    width: 110px;
    color: #fff;
}

.popular-posts {
margin-bottom: 50px;
}

.pbpost {
    display: flex;
    margin-bottom: 24px;
    overflow: hidden;
    
}

.pbpost__img {
width: 45px;
height: 45px;
flex-shrink: 0;
}

.pbpost-info {
    padding-left: 10px;
}

.pbpost__title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    font-family: 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
    color: #000;
    white-space: nowrap;
}

.pbpost__meta {
    line-height: 150%;
    font-size: 14px;
    color: #404040; 
}

.social {
    margin-bottom: 50px;
}

.social-list {
    display: flex;
}

.social-item {
    margin-right: 1%;
}


.social-icon {
    width: 60px ;
    height: 60px ;
    padding: 15px ;
    text-align: center ;
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.22) ;
    border-radius: 5px ;
    text-shadow: 0px 0px 0px #fff ;
    box-shadow: 0px 0px 0px #fff ;
    transition: all .3s;
}

.icon.twitter {
    background: #00aaf3;
}

.icon.facebook {
    background: #4267b2;
}

.icon.insta {
    background: #ff496c;
}

.icon.youtube {
    background: #cc0100;
}

.social-icon:hover {
    opacity: 0.8 !important;
}


/* pagination */

.content-pagination {
    display: flex;
    justify-content: center;
}

.content-pagination__item {
    display: inline-block;
    background: #fff;
    color: #fab527;
    padding: 10px 17px;
    margin: 10px 4px;
}

.content-pagination__item.current {
    opacity: .7;
}


/* footer */

.footer {
    background: #181818;
    padding: 30px 0;
}

.footer-title {
    font-family: 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 900;
    font-size: 17px;
}

.footer-text {
    color: #cacaca;
}

.footer-social {
    display: flex;
    padding-top: 30px;
}

.footer-social__item{
    width: 36px;
    height: 36px;
    display: inline-block ;
    margin: 5px ;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.footer-social__item:hover {
    transform: scale(1.1);
}

.footer-posts .pbpost__title {
    color: #fff;
}

.footer-posts .pbpost__meta {
    color: #a3a3a3;
    font-weight: 600;
    font-size: 17px;
}

.footer-column .newsletter-example {
    margin-top: 30px;
}

.footer-column .newsletter-example button {
    background: #fab527;
    border-color: #fab527;  
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,.1);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-copyrght {
    display: inline-block;
    float: left;
    padding-bottom: 20px;
    padding-top: 5px;
    color: #dedede;
}

.footer-copyrght a{
    color: #fab526;
    font-weight: 600;
}



.footer-menu {
    display: flex;
}

.footer-menu li {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
    font-size: 14px;
}

/* contact */

.contact-text {
    margin-bottom: 1.5em;
    line-height: 180%;
    font-size: 15px;
    color: #5d5d5d;
    font-family: 'Open Sans',helvetica,'helvetica neue',arial,sans-serif;
}

.inp {
    background-color: #eaeaea;
    border: 0 solid #fff;
    padding: 10px;
    box-shadow: 0 0 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    -moz-appearance: none;
    appearance: none;
}


/* contact page ====================================== */

.label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
    font-weight: 600;
}

.contact-form .btn {
    width: 100%;
    padding: 14px 30px;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
}

/* blog ================================================= */

.post-thumbnail {
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    margin-bottom: 30px;
}

.post-thumbnail img {
    margin-top: -120px;
    width: 100%;
}

.blog-meta {
    font-size: 15px;
    font-style: italic;
    color: #fab526;
    font-weight: 900;
    font-family: 'Open Sans','Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    margin-bottom: 15px;
}

.blog-text {
    margin-bottom: 1.5em;
    line-height: 180%;
    font-size: 15px;
    color: #5d5d5d;
}

.blog-text.italic {
    font-style: italic;
}

.blog-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    margin-bottom: 20px;
}

.blog-item {
    position: relative;
    min-height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 30px;
}

.blog-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.blog-item__title {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5em;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.blog-item__desc {
    position: relative;
    z-index: 1;
    line-height: 130%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.block-avtor {
    background: #eee;
    margin-bottom: 20px;
    border-radius: 3px!important;
    padding: 15px;
    display: flex;

}

.block-avtor__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.block-avtor__info {
    padding-left: 15px;
}

.block-avtor__name {
    font-size: 22px;
    color: #333;
    font-family: lato,helvetica,helvetica neue;
    line-height: 140%;
    margin-bottom: 10px;
}

.block-avtor__text {
    font-size: 16px;
    color: #333;
}

.blog-tags {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.blog-tag {
    border: 1px solid #fab526;
    padding: 5px 10px;
    margin: 3px;
    display: inline-block;
    font-size: 13px;
    color: #fab526;
    border-radius: 3px;
}

.related-post {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.related-post-inner {
    display: flex;
    justify-content: space-between;
}

.related-post__title {
    text-align: center;
    margin-bottom: 20px;

    color: #000;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: normal;
    line-height: 140%;
    font-weight: 700;
    font-family: 'Open Sans','Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    text-align: center;
}

.related-item {
    flex: 0 0 32%;
}

.related-item__img {
    margin-bottom: 15px;
}

.related-item-info {
    padding: 0 25px 25px 25px;
}

.related-item__meta {
    margin-bottom: 15px;
    color: #fab526;
    font-size: 14px;
    font-family: 'Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

.related-item__desc {
    font-size: 16px;
    margin: 0;
    line-height: 150%;
    color: #000;
    font-weight: 900;
}

.comments {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.comments-title {
    margin-bottom: 20px;

    color: #000;
    font-size: 30px;
    font-style: normal;
    line-height: 140%;
    font-weight: 700;
    font-family: 'Open Sans','Open Sans',helvetica,'helvetica neue',arial,sans-serif;
}


.comments-item {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.comments-item__img {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 50%;
}

.comments-item__name {
    font-weight: bolder;
    color: #5d5d5d;
    margin-bottom: 5px;
}

.comments-item__date {
    color: #bbb;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
}

.comments-item__text {
    margin-bottom: 1.5em;
    line-height: 180%;
    font-size: 15px;
    color: #5d5d5d;
}

.comments-item__link {
    color: #fab526;
    font-weight: 600;
    top: 0;
    right: 0;
    font-size: 13px;
}

.lieave-form {
    padding-top: 50px;
    text-align: center;
}

.lieave-form__title {
    color: #000;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 40px;
    padding-top: 40px;
    font-style: normal;
    line-height: 140%;
    font-weight: 700;
    font-family: 'Open Sans','Open Sans',helvetica,'helvetica neue',arial,sans-serif;
    border-top: 1px solid rgba(0,0,0,.1);
}

.lieave-form__form {
    text-align: center;
}

.lieave-form__form label{
    text-align: center;
    font-weight: 400;
}

.lieave-form__form .btn {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 0;
}

.lieave-form__cooccies {
padding: 10px 0 25px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .label {
    width: 33%;
    
}

@media screen and (max-width: 992px) {
    .logo {
        margin-bottom: 40px;
    }

    .logo-link {
        margin: 0 auto;
    }

    .offer-box.left-block {
         height: 470px; 
         margin-right: 0;
    }

    .offer-right {
        margin-top: 1%;
    }

    .offer-right__bottom {
        margin-top: 0%;
    }

    .offer-right .offer-right__bottom  .offer-box:nth-child(1) {
        margin-right: 2%;
    }

    /* .offer-right .row .col-md-6:first-child {
        padding-right:0;
    } */


    .content-box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .related-post-inner {
        flex-direction: column;
    }
    .related-item {
        text-align: center;
    }

    .post-thumbnail img {
        margin-top: 0;
    }

    .content-right {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .offer-right{
        grid-template-columns: 1fr ;
        gap: 1%;
    }

    .offer-right .offer-box:first-child {
        grid-column: span 1;
    }

    .sign {
        padding-top: 30px;
    }

    .form-row {
        flex-wrap: wrap;
    }

    .form-row .label {
        width: 100%;
        
    }
    .block-avtor {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 30px;
    }

    .offer-right .offer-box:nth-child(1) .offer-box__title {
        font-size: 16px;
    }

    .offer-inner {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;

    }
}